@charset "UTF-8";
// 全局颜色变量
$title-fontcolor: #666666;
$header-fontcolor: #666666;
$header-line-color: #1ba1e2;
$navBorder-line-color: #eeeeee;
$navBackground-color: #fafafa;
$navActive-line-color: #ff7f74;
$sliderActive-bg-Color: #0088cc;
$content-bold-fontcolor: #646464;
$table-color: #666666;
$default-text-color: #666666;
// 全局字体大小变量
$title-fontsize: 32px;
$banner-fontsize: 14px;
$content-title-fontsize: 26px;
$content-details-fontsize: 14px;
$table-fontsize: 16px;
$default-text-fontsize: 14px;
